<div class="container">
  <h1 style="text-align: center;" class="mt-5">Welcome {{name}}!</h1>
  <form #taskForm="ngForm" (ngSubmit)="add()">
    <div class="mb-3">
      <label for="task" class="form-label"><h4>Task Description</h4></label>
      <input
        type="text"
        id="task"
        name="task"
        class="form-control"
        [(ngModel)]="taskItem.task"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!taskForm.valid">Add Task</button>
  </form>
  <table class="table mt-4">
    <thead>
      <tr>
        <th>Sno</th>
        <th>Task</th>
        <th>Status</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of taskList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ task.task }}</td>
        <td>
          <input type="checkbox" [checked]="task.status" [disabled]="true"/>
        </td>
        <td>
          <button class="btn btn-success">Update</button>
        </td>
        <td>
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h1>Hii</h1>
</div>
